MONGO_USERNAME=""
MONGO_PASSWORD=""
MONGO_PORT=27017
MONGO_DB=shopping
MONGO_HOST=192.168.1.130
# MONGODB_URL="mongodb://{MONGO_HOST}:{MONGO_PORT}/{MONGO_DB}"
JWT_KEY="seceretkey"
PORT=3000
NODE_ENV="development"
HOSTNAME=http://localhost:3000

SMTP_HOST=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROMNAME=
SMTP_FROMEMAIL=
SMTP_PORT=

REDIS_PORT=6379