<!DOCTYPE html>
<html>

<head>
  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }

    .price {
      color: grey;
      font-size: 22px;
    }

    .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

    .card button:hover {
      opacity: 0.7;
    }
  </style>
</head>

<body>
  {{#each products}}
  <div class="card">
    <h2 style="text-align:center">Product Card</h2>
    {{#each this}}
        {{#each this.images}}
        <img src="/uploads/{{this}}"  style="width:100%">
        {{/each}}
      {{#if price}}
      <p>Price:</p>
      <p class="price">${{price}}</p>
      {{/if}}
      {{#if qty}}
      <p>Quantity:</p><p>{{qty}}</p>
      {{/if}}
    {{/each}}
  </div>
  {{/each}}

</body>

</html>